body{
    background-color: #F8F0EE;
    background-image: url("https://freedesignfile.com/upload/2017/01/Light-blue-tech-background-vector-04.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}


#logo {
    height: 120px;
        float: left;
        margin-top: -20px;
        margin-left: -98px;
        width: 107px
      
    } 
    h4{
        color:darkmagenta;
        font-size: 43px;
        text-align: center;
        /* float: left; */
        margin-top: -82px;
        margin-right: 175px;
        font-style: italic;
        font-family: unset;
    }

    #login {
        float: right;
        font-family: cursive;
    font-size: 28px;
    margin-right: 90px;
    margin-top: -105px;;

    }

    #register {
        float: right;
        font-family: cursive;
        font-size: 28px;
        margin-right: 191px;
        margin-top: -104px;
    }

    #back{
        margin-right: -132px;
    height: 64px;
    float: right;
    margin-top: 11px;
    /* margin-left: -65px; */
    width: 50px;
    }
   
    

