
body{
    background-color: #F8F0EE;
    margin: 100px;
    text-align: center;
    
    }

#loginpage{

    border: groove;
    border-color: darkgray;
    /* margin-top: 160px; */
    width: 500px;
    height: auto;
    padding: 20px 30px;
    background-color: rgb(246, 246, 252);
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px 0 #000; */
    margin: auto;
}
label{
    width:103px;
    display: inline-block;
    color: #D32F2F;
    font-size: 18px;
}

input[type=text],[type=password],[type=number]{
    width: auto;
    padding: 10px 55px;
    margin: 10px 33px;
    text-align: left;
    border-radius: 4px;
box-sizing: border-box;

}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  button{
    background-color:#4CAF50;
    width: 30%;
    padding: 9px 5px;
    margin:5px 0;
    cursor:pointer;
    border:none;
    color:#ffffff;
    margin-left: 80px;
    }
     
    button:hover{
    opacity:0.8;
    }

  